# Project exclude paths
\.gradle\
*.iml
\local.properties
\build
\app\build
\.idea
.cxx
google-services.json
\compileDebugKotlin
workspace.xml
Dolbogram.app.androidTest.iml
Dolbogram.app.main.iml
Dolbogram.app.unitTest.iml
gradle-wrapper.jar
gradle-wrapper.properties
gradlew

